.main-container{
    width: 800px;
    height: 800px;
    background-color: black;
    
}

#switch{
    margin-left: 300px;
    width: 100px;
    height: 100px;
    background: url(./img/bon.jpg) no-repeat;
    
}

#bombilla{
    margin-left: 200px;
    width: 520px;
    height: 600px;
    background: url(./img/on.jpg) no-repeat;
}

#container-off

